<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <ul class="bread-crumb">
            <li><a href="/">inicio</a></li>
            <li><a href="#">ropa</a></li>
            <li><a href="#">remeras</a></li>
            <li><a href="#">manga corta</a></li>
            <li><%= product.title %></li>
        </ul>
        <section class="general-product-page">
            <section class="product-image-container">

                <div class="product-image"><img src="/img/uploads/<%= product.image %>"
                        alt="<%= product.name %>">
                        
                    </section>
                    <section class="product-description">
                        
                        <form>
                        <div class="product-name"><%= product.name %></div>
                        
                        <div class="product-price">$ <%= product.price %></div>
                        
                        <br>
                        <div class="offer-text"><%= product.discount %>% de Descuento</div>
                                                                 
                            
                            </select><br>
                            <button type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </div>
        </section>

        </section>

        <section class="relatedProducts">
            <h2>Recomendado para vos:</h2>
                <%
                    var randomIndex = Math.floor(Math.random() * allProducts.length);
                    var randomProduct = allProducts[randomIndex];
                %>
            <div class="related-products-container">

                <div class="gallery">
                    <div class="gallery-item">
                        <img src="\img\uploads/<%= randomProduct.image %>" alt="Product 1">
                        <div class="item-overlay">
                            <h2><%= randomProduct.name %></h2>
                            <a href='/products/detail/<%= randomProduct.id %>'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/<%= randomProduct.image %>" alt="Product 1">
                        <div class="item-overlay">
                            <h2><%= randomProduct.name %></h2>
                            <a href='/products/detail/<%= randomProduct.id %>'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/<%= randomProduct.image %>" alt="Product 1">
                        <div class="item-overlay">
                            <h2><%= randomProduct.name %></h2>
                            <a href='/products/detail/<%= randomProduct.id %>'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/<%= randomProduct.image %>" alt="Product 1">
                        <div class="item-overlay">
                            <h2><%= randomProduct.name %></h2>
                            <a href='/products/detail/<%= randomProduct.id %>'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\uploads/<%= randomProduct.image %>" alt="Product 1">
                        <div class="item-overlay">
                            <h2><%= randomProduct.name %></h2>
                            <a href='/products/detail/<%= randomProduct.id %>'><button type="button">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

<%- include ('partials/footer')%>
</body>

</html>