<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <ul class="bread-crumb">
            <li><a href="/">inicio</a></li>
            <li><a href="#">ropa</a></li>
            <li><a href="#">remeras</a></li>
            <li><a href="#">manga corta</a></li>
            <li><%= product.title %></li>
        </ul>
        <section class="general-product-page">
            <section class="product-image-container">

                <div class="product-image"><img src="/img/uploads/<%= product.image %>"
                        alt="<%= product.description %>">
                        
                    </section>
                    <section class="product-description">
                        
                        <form>
                        <div class="product-name"><%= product.name %></div>
                        <div class="product-description"><%= product.description %></div>
                        
                        <div class="product-price">$ <%= product.price %></div>
                            <table> 
                                <tr>
            
                                    <th><label for="small">Small</label></th>
                                    <td><input type="number" id="small" title="small" placeholder="0" name="smallQ" min="0" max="<%= product.stock.S%>" value="0"></td>
                                </tr>
                                <tr>
                                    
                                    <th><label for="medium"> Medium</label></th>
                                    <td><input type="number" name="mediumQ" id="medium" title="medium" placeholder="0" name="mediumQ" max="<%= product.stock.M%>" value="0"></td>
                                </tr>
                                <tr> 
                                    
                                    <th><label for="large">Large</label></th>
                                    <td><input type="number" name="largeQ" placeholder="0" id="large" title="large" name="largeQ" min="0" max="<%= product.stock.L%>" value="0"></td>
                                </tr>
                                <tr>
                                    
                                    <th><label for="Xlarge">XLarge</label></th>
                                    <td><input type="number" name="XlargeQ" id="Xlarge" title="XLarge" name="XlargeQ" min="0" placeholder="0" max="<%= product.stock.XL%>" value="0"></td>
                                </tr>
                                
                            </table>
                                                                 
                            
                            </select><br>
                            <button type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </div>
        </section>

        </section>

        <section class="relatedProducts">
            <h2>Recomendado para vos:</h2>
            <div class="related-products-container">

                <h1></h1>
                <div class="gallery">
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <img src="\img\D_NQ_NP_821275-MLA49620450567_042022-O.webp" alt="Product 1">
                        <div class="item-overlay">
                            <h2>Remera Mario Bros</h2>
                            <p>Manga corta 100% algodón estampada</p>
                            <a href='/detail'><button type="button">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

<%- include ('partials/footer')%>
</body>

</html>