<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "create-product.css" }) %>

<body>

    <%- include('partials/header') %>

<main>

				<h2 class="products-title">Editar producto</h2>
			
			<form action="./<%= product.id %>" method="POST" class="form" enctype="multipart/form-data">
				<div class="product-detail">
					<div class="title-detail">
						<label for="name" class="a">Nombre del producto:</label>
						<input type="text" id="title" name="title" value="<%= product.name %>" placeholder="<%= product.title %>" class="form-input">
					</div>
					<div class="title-detail">
						<label for="price" class="a">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 10000$" value="<%= product.price %>" placeholder="<%= product.price %>"class="form-input" >
					</div>
					<div class="title-detail">
						<label for="discount" class="a">Descuento:</label>
						<input type="text" id="discount" name="discount" value="<%= product.discount %>" placeholder="<%= product.discount %>" class="form-input">
					</div>
					<div class="title-detail">
						<label for="description" class="a">Descripción:</label>
						<textarea name="description" id="description" value="<%= product.description %>"  class="form-input"><%= product.description %></textarea>
					</div>
                    <div class="title-detail">
						<table>
							<tr>
								<th><label for="image" class="a">Imagen del producto:</label></th>
								<td><img class="thumbnail" src="/img/uploads/<%= product.image %>"></td>
								
							</tr>
							<tr>
								<th><input type="file" id="image" name="image"  class="form-input" placeholder="<%= product.image %>"></th>
							</tr>
						</table>
                    
					
                    </div>
					
					<div class="title-detail">
						Stock:
						<table>
							
							<tr>
								<th>S</th>
								<td><input type="number" min="0" max="99" maxlength="2" id="stock-s" name="stock-s" value="<%=product.stock.S%>" ></td>
								<th>M</th>
								<td><input type="number" min="0" max="99" maxlength="2" id="stock-m" name="stock-m" value="<%=product.stock.M%>" ></td>					
								<th>L</th>
								<td><input type="number" min="0" max="99" maxlength="2" id="stock-l" name="stock-l" value="<%=product.stock.L%>" ></td>
								<th>M</th>
								<td><input type="number" min="0" max="99" maxlength="2" id="stock-xl" name="stock-xl" value="<%=product.stock.XL%>" ></td>
							</tr>
						</table>
					
						
					</div>
                    <div class="title-detail">
						<label for="category" class="a">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option>Elige una opción</option>
							<option value="in-sale">NADA POR AHORA</option>
							<option value="visited">nada por ahora</option>
						</select>
					</div>
					<div class="save-product">
						<button type="submit" class="save-buttom">Guardar producto</button>
					</div>
			</form>

</main>

<%- include ('partials/footer')%>

</body>

</html>