<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "create-product.css" }) %>

<body>

    <%- include('partials/header') %>

<main>

				<h2 class="products-title">Editar producto</h2>
			
			<form action="./<%= product.id %>" method="POST" class="form" enctype="multipart/form-data">
				<div class="product-detail">
					
					<div class="title-detail">
						<label for="name" class="a">Nombre del producto:</label>
						<input type="text" id="title" name="title" value="<%= product.name %>" placeholder="<%= product.title %>" class="form-input">
					</div>

					<div class="title-detail">
						<label for="price" class="a">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 10000$" value="<%= product.price %>" placeholder="<%= product.price %>"class="form-input" >
					</div>

					<div class="title-detail">
						<label for="discount" class="a">Descuento:</label>
						<input type="text" id="discount" name="discount" value="<%= product.discount %>" placeholder="<%= product.discount %>" class="form-input">
					</div>
					
                    <div class="title-detail">
						<table>
							<tr>
								<th><label for="image" class="a">Imagen del producto:</label></th>
								<td><img class="thumbnail" src="/img/<%= product.image %>"></td>
								
							</tr>
							<tr>
								<th><input type="file" id="image" name="image"  class="form-input" placeholder="<%= product.image %>"></th>
							</tr>
						</table>
                    
					
                    </div>
					
					<div class="save-product">
						<button type="submit" class="save-buttom">Guardar producto</button>
					</div>
			</form>

</main>

<%- include ('partials/footer')%>

</body>

</html>