<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: null }) %>

<body>

    <%- include('partials/header') %>

    <main>

        <form action="register" class="formRegister" method="post" enctype="application/x-www-form-urlencoded">
            
            <h2 class="ingresaTitulo"> Registrate </h2>

            <label for="ingresarNombres">Nombres *</label>
            <input type="text" inputmode="latin-name" placeholder="Gabriel Omar" name="first_name" id="ingresarNombres" required>
            <% if (locals.errors && errors.first_name) { %>
             <li class="errors"><%= errors.first_name.msg %></li>
            <% } %>

            <label for="ingresarApellidos">Apellidos * </label>
            <input type="text" inputmode="latin-name" placeholder="Batistuta" name="last_name" id="ingresarApellidos" required>
            <% if (locals.errors && errors.last_name) { %>
                <li class="errors"><%= errors.last_name.msg %></li>
            <% } %>
            <label for="nacimiento">Fecha de nacimiento *</label>
            <input type="date" placeholder="20/11/2001" id="bday" name="bday" autocomplete="bday" required>

            <label for="ingresaEmail">Email *</label>
            <input type="email" placeholder="elBati.Gol@mail.com" id="email" name="email" autocomplete="email" pattern=".+@*.com" size="30" required>
            <% if (locals.errors && errors.email) { %>
                <li class="errors"><%= errors.email.msg %></li>
            <% } %>
            <label for="ingresaClave">Contraseña *</label>
            <input type="password" id="ingresaClave" autocomplete="new-password" name="password" id="password" minlength="8" 
            title="Ingrese una clave hexadecimal de al menos 8 digitos"required >
            <% if (locals.errors && errors.password) { %>
                <li class="errors"><%= errors.password.msg %></li>
                <%= errors.password.msg = "" %>
            <% } %>

            <!-- <label for="image">Subir imagen de perfil</label>
            <input type="file" id="image" id="image" name="image" accept="image/png, image/jpeg"> -->
        
            <div class="buttonsRegister">
                <button type="submit" class="botonSubmit">Aceptar</button>
                <button type="reset" class="botonReset">Borrar</button>
            </div>

        </form>


    </main>

    <%- include ('partials/footer')%>
    
</body>

</html>