<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "shopping.css" }) %>

<body>

    <%- include('partials/header') %>
    <script defer async src="/scripts/shopping-cart.js"></script>

    <main>

        <h2>Mi carrito</h2>

     
        <article class="body-shopping">
            <section class="general-product-page">
                <section class="product-image-container">
    
                    
                    <% if (shoppingList ) shoppingList.forEach(element => { %>
                        <section class="product-description-2">
                            <div class="product-image"><img src="\img\uploads/<%= element.image %>"
                                    alt="<%= element.name %>">
                            <div><%= element.name %> </div>
                            <% let pesos=Intl.NumberFormat('es-AR', { style: 'currency' , currency: 'ARS' ,
                            maximumSignificantDigits: 4, }); %>
                            <h3 class="product-price press-start">
                                <%= pesos.format(element.price) %>
                            </h3>
                            <form>
                                
                                </select><br>
                                <form action="/shopping-cart-remove/<%= element.id %>" method="post">
                                    <input class="hidden" value="<%= element.id %>" name="remove-product">
                                    <button class="boton-personalizado remover-carrito" type="submit"> <i class="bi bi-x-circle"></i></button>
                                </form>
                               
                            </form>
                        </section>
                    <% }) %>
    
                </section>
               
            </section>
            <section class="product-description-3">
                <div>Codigo de descuento</div>
                <div class="product-price"></div>
                <label for="codigo"></label>
                <div class="codigo-descuento" >
                    <input type="text" placeholder="Ingrese cupon de descuento">
                </div>
                <button class="boton-personalizado" type="submit"> Validar</button>

                <article class="text-code">
                    <div>Subtotal</div>
                    <div> 5000$</div>
                </article>

                <article class="text-code">
                    <div>Envio</div>
                    <div> 500$</div>
                </article>

                <article class="text-code">
                    <div>Total</div>
                    <div> 5500$</div>
                </article>
                <button class="boton-personalizado" type="submit">Comprar</button>
            </section>
        </article>
        

       


    </main>

    <footer>
        <%- include ('partials/footer')%>

</body>

</html>