<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS: "shopping.css" }) %>

<body>

    <%- include('partials/header') %>
    <script defer async src="/scripts/shopping-cart.js"></script>

    <main class="main-shopping-cart">

        <h2>Mi carrito</h2>

     
        <article class="body-shopping">
            <section class="general-product-page">
                <section class="product-image-container">
    
                    <% let total = 0, subtotal = 0, envio = 3000 %>
                    <% if (shoppingList ) shoppingList.forEach(element => { %>
                        <% subtotal += parseInt(element.price) %>
                       <% total = subtotal + envio%>
                        <section class="product-description-2">
                            <div class="product-image"><img src="\img\uploads/<%= element.image %>"
                                    alt="<%= element.name %>">
                            <div><%= element.name %> </div>
                            <% let pesos=Intl.NumberFormat('es-AR', { style: 'currency' , currency: 'ARS' ,
                            maximumSignificantDigits: 4, }); %>
                            <h3 class="product-price press-start">
                                <%= pesos.format(element.price) %>
                            </h3>
                            
                                
                                </select><br>
                                <form action="/../products/shopping-cart-remove/<%= element.id %>" method="post">
                                   
             
                                        <button class="boton-personalizado remover-carrito" > <i class="bi bi-x-circle"></i></button>
                                    
                                    
                                </form>              
                        </section>
                        <% }) %>
                </section>
            </section>

            <div class="division-card"></div>
            <section class="product-description-3">
                <div class="container-detail-compra">
                    <div>Codigo de descuento</div>
                    <div class="product-price"></div>
                    <label for="codigo"></label>
                    <div class="codigo-descuento" >
                        <input type="text" placeholder="Ingrese cupon de descuento">
                    </div>
                    <button class="boton-personalizado" type="submit"> Validar</button>
    
                    <article class="text-code">
                        <div>Subtotal</div>
                        <div> <%= subtotal %>$</div>
                    </article>
    
                    <article class="text-code">
                        <div>Envio</div>
                        <div> <%= envio %>$</div>
                    </article>
    
                    <article class="text-code">
                        <div>Total</div>
                        <div> <%= total %>$</div>
                    </article>
                    <button class="boton-personalizado" type="submit">Comprar</button>
                </div>
                
            </section>
            
        </article>
        

       


    </main>

    <footer>
        <%- include ('partials/footer')%>

</body>

</html>