<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        
        <ul>
            <li>Nombre: <%= user.firstName %></li>
            <li>Apellido: <%= user.lastName %></li>
            <li>Email: <%= user.email %></li>
            <% if (user.userEspecify_id == 1) { %>
                <li>Rol: Admin</li>
            <% } %>
        </ul>
        <img id="userProfileImg" src="/img/uploads/users/<%= user.image %>"/>
            
            <a href="/users/logout"><button type="button" class="botonSubmit buttonLogin">GAME OVER</button></a>

        
    </main>
    <%- include ('partials/footer')%>
    
</body>
</html>

