<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"profile.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <section class="section-profile">
            <div class="div-profile">
                <ul class="ul-profile">
                    <li>Nombre: <%= user.firstName %></li>
                    <br>
                    <li>Apellido: <%= user.lastName %></li>
                    <br>
                    <li>Email: <%= user.email %></li>
                    <br>
                    <% if (user.userEspecify_id == 1) { %>
                    <li>Rol: Admin</li>
                    <% } %>
                </ul>
            </div>
            <div class="div-profile">
                <aside>
                    <% if (user.image == undefined) { %>
                        <img src="/img/uploads/default-image.jpg"/>
                    <% } %>
                    
                    <% if (user.image != undefined) { %>
                        <img id="userProfileImg" src="/img/uploads/users/<%= user.image %>"/>  
                    <% } %>
                </aside>
            </div>
        </section>
            
            <a href="/users/logout"><button type="button" class="botonProfile buttonLogin">GAME OVER</button></a>

        
    </main>
    <%- include ('partials/footer')%>
    
</body>
</html>

