<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <table>
            <tr><th>Imagen de perfil </th><td><img src="/img/uploads/<%= user.profileImage %>"></td></tr>
            <tr><th>Nombre</th><td><%=user.firstName%></td></tr>
            <tr><th>Apellido</th><td><%=user.lastName%></td></tr>
            <tr><th>Email</th><td><%=user.email%></td></tr>
            
            <a href="/users/logout"><button type="button" class="botonSubmit buttonLogin">Cerrar Sesión</button></a>
        </table>
        
    </main>
    <%- include ('partials/footer')%>
</body>
</html>

