<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { customCSS:"detail.css" }) %>

<body>

    <%- include('partials/header') %>


    <main>
        <ul>
            <li>Nombre: <%= user.first_name %></li>
            <li>Apellido: <%= user.last_name %></li>
            <li>Email: <%= user.email %></li>
        </ul>
            
            <a href="/users/logout"><button type="button" class="botonSubmit buttonLogin">Cerrar Sesión</button></a>

        
    </main>
    <%- include ('partials/footer')%>
</body>
</html>

